.container {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
}

.image {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.images {
    display: flex;
    overflow-x: hidden;
}

.thumbnails {
    display: none;
}

.images > img[data-attr='1'] {
    width: 100%;
    animation-name: move;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.images > img[data-attr='-2'] {
    width: 100%;
    animation-name: move-2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move-2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.images > img[data-attr='2'] {
    width: 100%;
    animation-name: move2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.images > img[data-attr='-3'] {
    width: 100%;
    animation-name: move-3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move-3 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.images > img[data-attr='3'] {
    width: 100%;
    animation-name: move3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.images > img[data-attr='-4'] {
    width: 100%;
    animation-name: move-4;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move-4 {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.images > img[data-attr='4'] {
    width: 100%;
    animation-name: move4;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes move4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.previous {
    position: absolute;
    left: 0.5em;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('./../../public/images/pointer.png'), auto;
    color:#1D2026;
    font-weight: 700;
    font-size: 2rem;
    z-index: 1;
}

.previous:hover > img {
    filter: invert(55%) sepia(28%) saturate(2311%) hue-rotate(346deg) brightness(101%) contrast(102%);
}

.previous > img {
    width: 0.6rem;
    height: 0.8rem;
}

.next {
    position: absolute;
    right: 0.5em;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('./../../public/images/pointer.png'), auto;
    color:#1D2026;
    font-weight: 700;
    font-size: 2rem;
    z-index: 1;
}

.next:hover > img{
    filter: invert(55%) sepia(28%) saturate(2311%) hue-rotate(346deg) brightness(101%) contrast(102%);
}

.next > img {
    width: 0.6rem;
    height: 0.8rem;
}

.description {
    padding: 1.5em 1.5em 0;
    text-align: left;
}

.description > h3 {
    color: #FF7E1B;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
    font-size: 0.75rem;
}

.description > h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #1D2026;
}

.description > p {
    color: #69707D;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
}

.price {
    margin: 0;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

.price > p:nth-child(1) {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;
}

.price > p:nth-child(2) {
    color: #FF7E1B;
    font-weight: 700;
    background-color: #FFEEE2;
    padding: 0.25em 0.5em;
    border-radius: 0.3rem;
    margin-left: 1rem;
}

.price > p:nth-child(3) {
    color: #B6BCC8;
    font-weight: 700;
    text-decoration: line-through;
    margin-left: auto;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    padding: 0 1.5em;
    background-color: #F6F8FD;
    border-radius: 0.75em;
}

.quantity > img {
    cursor: url('./../../public/images/pointer.png'), auto;
}

.quantity > p {
    font-weight: 700;
}

.button {
    margin: 1rem 1.5rem;
}

.button > button {
    font-weight: 700;
    background-color: #FF7E1B;
    width: 100%;
    padding: 1.125em 0;
    border-radius: 0.625rem;
    border-width: 0;
    color: white;
    cursor: url('./../../public/images/pointer.png'), auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button > button > img {
    margin-right:1rem;
}

.button > button:hover {
    background-color: #FFAB6A;
}

.modalLayer {
    display: none;
}

@media (min-width: 700px) {
    .container {
        max-width: 550px;
    }

    .image {
        margin-top: 20px;
        border-radius: 10px;
        height: 550px;
    }

    .modalLayer {
        display: block;
        position: absolute;
        box-sizing: border-box;
        border: 2px solid black;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        border: 2px solid blue;
    }

    .imageModal {
        display: block;
        position: absolute;
        width: 550px;
        height: 722px;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
    }


}


@media (min-width: 1200px) {
    .container {
        margin-top: 5.675rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
    }

    .image {
        margin-top: 0px;
        margin-left: 14.7%;
        margin-right: 3%;
        width: 50%;
        height: 565px;
        flex-direction: column;
    }

    .images > img {
        width: 445px;
        border-radius: 15px;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .mainDescription {
        width: 50%;
        margin-right: 14.7%;
        margin-left: 3%;
        min-width:345px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .previous {
        display: none;
    }

    .next {
        display: none;
    }

    .thumbnails {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .thumbnailSelected1 {
        position: relative;
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        border: 2px solid #FF7E1B;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-1-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailSelected2 {
        position: relative;
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        border: 2px solid #FF7E1B;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-2-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailSelected3 {
        position: relative;
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        border: 2px solid #FF7E1B;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-3-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailSelected4 {
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        border: 2px solid #FF7E1B;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-4-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailUnselected1 {
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        background: url(./../../public//images/product/image-product-1-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailUnselected1:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-1-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .thumbnailUnselected2 {
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        background: url(./../../public//images/product/image-product-2-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailUnselected2:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-2-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .thumbnailUnselected3 {
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        background: url(./../../public//images/product/image-product-3-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailUnselected3:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-3-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .thumbnailUnselected4 {
        box-sizing: border-box;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        background: url(./../../public//images/product/image-product-4-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: url('./../../public/images/pointer.png'), auto; 
    }

    .thumbnailUnselected4:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(./../../public//images/product/image-product-4-thumbnail.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        align-items: flex-start;
    }

    .description > h3 {
        font-size: 0.8125rem;
        padding: 0;
        margin: 0;
    }

    .description > h1 {
        font-size: 2.75rem;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .description > p{
        margin-top: 2rem;
    }

    .price {
        width: 44%;
        padding:0;
        flex-wrap: wrap;
    }

    .price > p:nth-child(3) {
        color: #B6BCC8;
        font-weight: 700;
        text-decoration: line-through;
        margin-top: 0;
        margin-left: 0;
    }

    .quantityAndBuyButton {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .quantity {
        width: 30%;
        margin-left: 0;
    }
    
    .button {
        margin:0;
        width:65%;
    }
}